
.content{
    padding: 20px;
    background-color: rgb(145, 145, 145);
}
body{
    background-color: rgb(49, 70, 136);
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(99, 105, 161);
 }
